/* цвет основного фона #E5E5E5; */
/* цвет дополнительного фона #2F303A; */
/* цвет белого фона #FFFFFF; */

/* цвет акцента #2196F3 */
/* цвет основного логотипа #000000 */
/* цвет дополнительного логотипа #FFFFFF */

/* цвет текста #000000 */
/* цвет белого текста #000000 */
/* цвет текста заглавий #212121 */
/* цвет текста "контактов header" rgba(117, 117, 117, 1) */
/* цвет текста "контактов footer" rgba(255, 255, 255, 0.6) */

/* анимация  250ms cubic-bezier(0.4, 0, 0.2, 1); */

/* цколичество карточек в ряду галереи -3 */

/* --------------------------------------------- Переменные --------------------------------------------------*/
:root {
  --background-primary-color: #e5e5e5;
  --background-secondary-color: #2f303a;
  --background-wheit-color: #ffffff;

  --accent-color: #18a0fb;
  --logo-primary-text-color: #000000;
  --logo-secondary-text-color: #ffffff;

  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --text-kontact-header: rgba(117, 117, 117, 1);
  --text-kontact-footer: rgba(255, 255, 255, 0.6);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --number-in-a-row: 3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;

  cursor: pointer;
  border-radius: 4px;

  font-family: inherit;
  text-align: center;

  border: none;
  color: var(--primary-white-color);
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}
.hero-title,
.about-title {
  text-transform: uppercase;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  display: flex;
  font-family: Raleway, csans-serif;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* ---------------------------------- header - section ------------------------------------*/

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.header-logo {
  margin-right: 93px;
}

.header-logo-secondary {
  color: var(--logo-primary-text-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-item + .navigation-item {
  margin-left: 50px;
}

.header-kontakt {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.icon-letter {
  margin-right: 10px;
  fill: currentColor;
}

.navigation-item,
.header-link-mail,
.header-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-link {
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -34px;
  border-radius: 2px;
}

.header-link-mail,
.header-link-tel {
  list-style: none;
  color: var(--text-kontact-header);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-link-mail:hover,
.header-link-mail:focus,
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}
/* ----------------------------------main - section --------------------------------*/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ----------------------------------hero - section --------------------------------*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-secondary-color);
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover; /**/
  max-width: 1600px; /**/
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  font-family: inherit;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-btn {
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--accent-color);
  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--background-wheit-color);
  color: var(--accent-color);
}

/* ----------------------------------about - section --------------------------------*/

.about {
  padding-top: 94px;
}

.about-list {
  display: flex;
}

.about-item {
  width: 270px;
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.about-after-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.about-background {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-icon {
  width: 70px;
  height: 70px;
}

/* ----------------------------------field - section --------------------------------*/

.field {
  padding-top: 94px;
  padding-bottom: 94px;
  z-index: 1;
}

.field-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.field-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field-image-item {
  position: relative;
}

.description {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  min-height: 70px;
  padding: 27px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* ----------------------------------person-comand - section --------------------------------*/

.person-comand {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  justify-content: center;
}

.person-comand-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.person-comand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.person-comand-item {
  font-size: 16px;
  line-height: 1.19;
  width: calc(100% / 4-30px);
  justify-content: center;
  background: var(--background-wheit-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.person-name {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.person-speciality {
  text-align: center;
  color: var(-primary-text-color);
  margin-bottom: 16px;
}
.link-list {
  display: flex;
  justify-content: center;
}

.link-item {
  display: flex;
  height: 44px;
  width: 44px;
}

.link-icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item + .link-item {
  margin-left: 10px;
}

.link-icon-svg {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
}
.link-icon:hover .link-icon-svg,
.link-icon:focus .link-icon-svg {
  fill: var(--background-wheit-color);
}
/* ----------------------------------clients - section --------------------------------*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}

.clients-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  display: flex;
  width: 170px;
  height: 92px;
}

.clients-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon:hover .clients-icon-svg,
.clients-icon:focus .clients-icon-svg {
  fill: var(--accent-color);
}

/* ------------------------portfolio-gallery - section --------------------------------*/

.portfolio-gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filtr-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

/*.portfolio-filtr-item {
  display: flex;
}*/

.portfolio-filtr-btn {
  background-color: #f5f4fa;
  padding-left: 22px;
  padding-right: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);
}

.portfolio-filtr-item + .portfolio-filtr-item {
  margin-left: 8px;
}

.portfolio-filtr-btn:hover,
.portfolio-filtr-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------------------portfolio-gallery-list - section --------------------------*/

.portfolio-gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-gallery-item {
  width: calc(100% / var(--number-in-a-row)-30px);
  margin-top: 30px;
  margin-left: 30px;
  box-sizing: border-box;
  position: relative;
}

.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-card-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 2px solid #f5f4fa;
  border-right: 2px solid #f5f4fa;
  border-bottom: 2px solid #f5f4fa;
}

.portfolio-gallery-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /*text-align: center;*/
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.portfolio-gallery-speciality {
  line-height: 1.87;
  /*text-align: center;*/
  color: var(--primary-text-color);
}

/* ------------------------overley --------------------------------*/

.portfolio-gallery-card-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-gallery-card-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;

  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .portfolio-gallery-card-overley {
  transform: translateY(0);
}

/* ------------------------.footer-logo - section --------------------------------*/

.footer {
  background-color: var(--background-secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}
/* -------logo--------*/

.footer-left {
  display: block;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

/* ------address-------*/

/*.address {
   display: flex;
}*/

.footer-logo-secondary {
  color: var(--logo-secondary-text-color);
}

.footer-link-addr,
.footer-link-mail,
.footer-link-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 500;
}

.footer-link-addr {
  color: var(--logo-secondary-text-color);
}

.footer-link-mail,
.footer-link-tel {
  color: var(--text-kontact-footer);
}

/* ------connect-------*/

.footer-links,
.subscribe {
  align-items: baseline;
  margin-left: 70px;
}

.footer-link-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-wheit-color);
}

.footer-link-list {
  display: flex;
  justify-content: center;
}

.footer-link-item {
  display: flex;
  height: 44px;
  width: 44px;
}

.footer-link-icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item + .footer-link-item {
  margin-left: 10px;
}

.footer-link-icon-svg {
  width: 44px;
  height: 44px;
  fill: var(--background-wheit-color);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--accent-color);
}

/* ------subscribe-------*/

.email {
  width: 358px;
  height: 50px;

  padding: 15px 16px;
  margin-right: 12px;

  line-height: 1.25;
  color: var(--text-kontact-footer);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.email::placeholder {
  color: var(--text-kontact-footer);
}

.subscribe-btn {
  padding-left: 29px;
  padding-right: 28px;
  background-color: var(--accent-color);
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subscribe-icon-svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-white-color);
  transition: fill var(--animation);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--background-wheit-color);
  color: var(--accent-color);
}

.subscribe-btn:hover .subscribe-icon-svg,
.subscribe-btn:focus .subscribe-icon-svg {
  fill: var(--accent-color);
}
/* ------------------------modal --------------------------------*/

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms linear;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: rotate(-300deg) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;

  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon-svg {
  width: 18px;
  height: 18px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: 2px solid var(--accent-color);
}

.modal-close-btn:hover .close-icon-svg,
.modal-close-btn:focus .close-icon-svg {
  fill: red;
}

.modal-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-icon-svg {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list {
  margin-bottom: 20px;
}

.form-item:not(:last-child) {
  margin-bottom: 10px;
}

.lable {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.lable svg {
  position: absolute;
  left: 12px;
  top: 50%;
}

.form-input {
  display: block;
  margin-top: 4px;
  width: 100%;
  padding-left: 36px;
  padding-right: 15px;
  height: 40px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill var(--animation);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + svg {
  fill: var(--accent-color);
}

.text-area {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: var(--animation);
}

.form-item .text-area:focus {
  border-color: var(--accent-color);
}

.text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.check-box {
  margin-bottom: 30px;
}

.modal-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon-svg {
  fill: transparent;
  width: 16px;
  height: 15px;
}

.check-box-text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.check-icon-svg {
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: var(--animation);
}


.modal-check:checked + .check-icon-svg {
  border-color: transparent;
  background-color: var(--accent-color);
  background-size: cover;
  background-origin: border-box;
  background-position-y: -1px;
  fill: var(--primary-white-color);
}

.modal-check:hover + .check-icon-svg,
.modal-check:focus + .check-icon-svg {
  border-color: var(--accent-color);
}

.contract {
  color: var(--accent-color);
}

.send {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
}
